<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>May 2021 Hackathon VideoDAC</title>
</head>
<body>
    <h1>Upload stream to IPFS</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <Label>Stream ID</Label>
        <input type="text" name="fileName">
        <br><br>
        <label>Upload Stream</label>
        <input type="file" name="file">
        <br><br>
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>
